@use '../utils' as *;
@use './typography' as *;

/* ------- Reset ------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior : smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: $primary;
}

/* ------- Disable aos animation delay on mobile devices ------- */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}




