@use '../utils' as *;
/* ------- Header ------- */
.header {
  background-color: transparent;
  top: 56px;
  width: 100%;
  @include transition;

  &-scrolled {
    background-color: $white;
    top: 0;
    padding: 8px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
}
